::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.x {
    font-size: smaller;
    width:50px;
    text-align:center;
}

.closePopup {
position:absolute;
left:300px;
}
.listaRef {
    list-style: none none none;
    background-color: #FCD91D;
    border: 1px solid grey;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 60px;
}

    .listaRef > li {
        list-style: none none none;
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        font-family:Calibri;
        font-size:small;
    }

    .listaRef > li:not(:last-child):not(:first-child) {
        border-bottom: 1px solid grey;
    }

.blink_me {
    animation: blinker 1s linear infinite;
}

.fullWidth {
    width: 200px;
}

.btnDomex {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    background-color: black;
    background: linear-gradient(180deg, gray 0.5%, black 100%);
    color: #FCD91D;
    border: 0px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 99%;
    height: 30px;
    margin-top: 10px;
}

select {
    width: 180px;
    font-family: Calibri;
    font-size: small;
    border: 0 none none;
    border-color: transparent;
    outline: none;
    border: 0px;
    -webkit-appearance: button;
    -webkit-user-select: none;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid gray;
}

.lblTitulo {
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
}

.lblBd {
    width: 100px;
}

.dash {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
}

.grupoPermiso {
    margin-left: 20px;
}

.permiso {
    margin-left: 40px;
    font-family: Calibri;
    font-size: small
}

.wndPermisos {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    margin-left: 25%;
    height: 50vh;
    overflow-y: auto;
    margin-top: 20vh;
    z-index: 175;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid lightgrey;
}

.imgRnd {
    background-color: rgb(252,217,29);
    background: linear-gradient(180deg, rgb(252,217,29) 0%, rgb(253,231,23) 100%);
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

.notif > img {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 2px solid black;
    padding: 3px 3px 3px 3px;
    margin-right: 3px;
}

.notif {
    width: 300px;
    position: absolute;
    background-color: rgb(252,217,29);
    border: thin solid black;
    color: black;
    font-size: 14px;
    opacity: 1;
    z-index: 200;
    padding: 10px 10px 10px 10px;
}

.inpFocus {
    /*background-color: aliceblue;*/
}

.tInput {
    width: 100%;
    margin-bottom: 10px;
}

.inpFrm {
    border: 1px solid transparent;
    font-family: Calibri;
    font-size: small;
    border-bottom: 1px solid gray;
    background-color: transparent;
}

.loading {
    position: absolute;
    z-index: 150;
    margin-left: 30%;
    margin-top: 30vh;
    background-color: white;
    border: 1px solid lightgrey;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
}

.frmUsuario {
    height: 90vh;
}

.cajaResultado {
    padding-top: 20px;
    border-left: 1px solid lightgrey;
    overflow-y: auto;
    height: 70vh;
}

.resultado {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

    .resultado:hover {
        color: black;
        background: rgb(252,217,29);
        background: linear-gradient(180deg, rgb(252,217,29) 0%, rgb(253,231,23) 100%);
    }

        .resultado:hover > .col-lg-12 > .row > .resultadoImg > img {
            border-color: #E5E5E5;
        }

        .resultado:hover > .col-lg-12 > .row > .col-sm-10 > .infoUsuario {
        }

    .resultado:hover {
    }

.infoUsuario {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none none;
    margin-left: 10px;
}

    .infoUsuario > li {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        margin-top: -10px;
    }

.resultadoImg > img {
    border: 3px solid #FCD91D;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

.ulMenu {
    list-style: none none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.titFn {
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    padding-top: 8px;
}

.pasoSel > img {
    background-color: rgb(252,217,29);
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

.pasoSel > label:first-child {
    border: 2px solid rgb(252,217,29);
}

.pasoSel:not(:first-child) {
    border-left: rgb(252,217,29);
    background-color: black;
    color: rgb(252,217,29);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.ulMenu > li:first-child {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    float: left;
    padding-left: 7px;
    margin-right: 10px;
    font-family: Calibri;
    font-size: small;
    width: 100px;
    height: 38px;
    margin-top: -3px;
    padding-top: 3px;
}

.ulMenu > li:not(:first-child):not(:last-child) {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    float: left;
    padding-left: 2px;
    margin-right: 10px;
    font-family: Calibri;
    font-size: small;
    width: 210px;
    height: 38px;
    margin-top: -3px;
    padding-top: 3px;
}

.titBtn {
    text-align: center;
}

.EmisionFac {
    padding-top: 50px;
}

.EmBtn {
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .EmBtn:hover {
        background: rgb(252,217,29);
        background: linear-gradient(90deg, rgb(252,217,29) 0%, rgb(253,231,23) 100%);
        color: black;
        -webkit-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    }

    .EmBtn:active {
        background: rgb(253,231,23);
        background: linear-gradient(90deg, rgb(253,231,23), rgb(252,217,29) 0% 100%);
        font-weight: bold;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 1px solid black;
    }

.ulMenu > li:last-child {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: left;
    float: left;
    padding-left: 2px;
    margin-right: 10px;
    font-family: Calibri;
    font-size: small;
    width: 210px;
    height: 38px;
    margin-top: -3px;
    padding-top: 3px;
}

.numPaso {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 2px solid black;
    font-weight: bold;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.guardar {
    position: absolute;
    left: 50px;
    z-index: 201;
    width: 200px;
    height: 80px;
    background-color: whitesmoke;
    color: black;
    font-family: Calibri;
    font-size: small;
    border: 1px solid dimgray;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.infoUsuario > li > label {
    margin-left: 30px;
}

.buscar {
    border: 1px solid transparent;
    font-family: Calibri;
    font-size: small;
    width: 90%;
    border-bottom: 1px solid gray;
    background-color: transparent;
    margin-bottom: 5px;
}

.Frm > .row > .col-lg-6 > label {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.btnActn {
    background: rgb(252,217,29);
    background: linear-gradient(90deg, rgb(252,217,29) 0%, rgb(253,231,23) 100%);
    color: black;
    width: 100px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    padding-top: 15px;
    border: 1px solid lightgray;
}

    .btnActn:hover {
        background-color: dimgray;
        border: 1px solid black;
    }

.sel {
    border: 1px solid transparent;
    border-color: transparent;
    font-family: Calibri;
    font-size: small;
    width: 200px;
}

.menuGral {
    background: rgb(252,217,29);
    background: linear-gradient(90deg, rgb(252,217,29) 0%, rgb(253,231,23) 100%);
    color: black;
}

label {
    font-family: Calibri;
    font-size: small;
}


.buttons {
    text-align: center;
    margin-top: 10px;
}

.button {
    width: 70px;
    margin-left: 5px;
    background-color: black;
    color: black;
    float: left;
    text-align: center;
    border: 1px solid gray;
    font-family: Calibri;
    font-size: small;
}

.wrap {
    width: 90%;
    padding: 0px 10px 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90vh;
    height: 10vh;
    padding-left: 50px;
}

.wrap2 {
    background-color: white;
    width: 90%;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90vh;
    height: 90vh;
}

a {
    color: black
}

.agentFocus:hover {
    background-color: dodgerblue
}

    .agentFocus:hover > a {
        color: black
    }

.agentFocus2:hover {
    background-color: firebrick
}

    .agentFocus2:hover > a {
        color: black
    }


.Files {
    border: 1px solid lightgrey;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
}

.fileSel {
    background-color: lightgray;
    border: 1px solid gray;
}



.fIcon {
    padding-top: 8px;
}

.previaWrap {
    height: 70vh;
    overflow-x: auto;
    overflow-y: auto;
}

.relWrap {
    height: 70vh;
    overflow-x: auto;
    overflow-y: auto;
}

.previa {
    font-family: Calibri;
    width: 95%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

    .previa > thead {
        background-color: rgb(252,217,29);
        color: black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }


        .previa > thead > tr:first-child > th {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 100%;
            font-family: Calibri;
            font-size: smaller;
            font-weight: normal;
            border-bottom: 1px solid lightgrey;
            height: 30px;
            padding-left: 20px;
        }

        .previa > thead > tr:nth-child(2) > th {
            padding-left: 10px;
            padding-top: 5px;
            font-size: smaller;
            font-weight: normal;
            background-color: lightgray;
            color: black;
            width: 50%;
        }

    .previa > tbody > tr:nth-child(odd) {
        background-color: whitesmoke;
    }

    .previa > tbody > tr > td {
        border-right: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        padding-left: 10px;
        font-family: Calibri;
        font-size: small;
    }

    .previa > tbody > tr {
        border-bottom: 1px solid lightgrey;
    }

.Actualizar {
    height: 50px;
    width: 95%;
    background: rgb(252,217,29);
    background: linear-gradient(90deg, rgb(252,217,29) 0%, rgb(253,231,23) 100%);
    color: black;
    font-family: Tahoma;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgrey;
    padding-top: 12px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

    .Actualizar:hover {
        background-color: dimgray
    }

.lblAnex {
    height: 50px;
    width: 100%;
    background: rgb(252,217,29);
    background: linear-gradient(90deg, rgb(252,217,29) 0%, rgb(253,231,23) 100%);
    color: black;
    text-align: left;
    font-family: Calibri;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}



.fileAU::-webkit-file-upload-button {
    visibility: hidden;
}

input[type='file'] {
    color: transparent;
    background-color: transparent;
}

.fileAU {
    position: absolute;
    z-index: 115;
    width: 100px;
    height: 50px;
    margin-left: -80px;
}

    .fileAU::before {
        display: inline-block;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-family: Calibri;
        font-size: small
    }
