<div *ngIf="showPermisos" class="wndPermisos">
    &nbsp;<img src="/img/closebtn.png" (click)="togglePermisos('close')" width="16" height="16" />
    <div *ngFor="let gr of lstGrupo">
        <div class="grupoPermiso">
            <label>{{gr}}</label>
            <table class="permiso" align="center">
                <tr *ngFor="let item of retornaPermisos(gr)">
                    <td>{{item.Permiso}}</td>
                    <td><input type="checkbox" (click)="togglePermiso(item,$event)" [checked]="verificaPermiso(item)" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="wrap" #wrap>
    <div class="lblAnex">
        <ul class="ulMenu">
            <li><label class="titFn">Gestión de Comprobantes</label></li>
            <li (click)="nuevoItem()">
                <img src="/img/sec.png" width="28" />&nbsp;Nuevo
            </li>
            <li (click)="guardaComprobante()">
                <img src="/img/cloud.png" width="32" />&nbsp;Guardar
                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='Guardar'">
                    <label>{{notif.Msj}}</label>
                </div>
            </li>
            <li>
                <img src="/img/shred.jpg" width="32" />Borrar
            </li>
        </ul>
    </div>

    <div class="row frmUsuario">
        <div class="col-lg-11 Frm">
            <!-- Generales del Item -->
            <div class="row">
                <div class="col-lg-12" [ngClass]="{'inpFocus':foc==2}">
                    <table cellspacing="0" cellpadding="0" class="tInput">
                        <tr>
                            <td><span *ngIf="comp.Empresa.length>0"><label>Empresa</label> </span>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Empresa" [(ngModel)]="comp.Empresa" class="inpFrm" (focus)="foc=2;" (focusout)="foc=0;" (keydown)="clrNotif(); cargaEmpresaxRNC($event);" />
                                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='comp.Empresa'">
                                    <label>{{notif.Msj}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" [ngClass]="{'inpFocus':foc==2}">
                    <table cellspacing="0" cellpadding="0" class="tInput">
                        <tr>
                            <td><span *ngIf="comp.Rnc.length>0"><label>RNC</label> </span>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="RNC" [(ngModel)]="comp.Rnc" class="inpFrm" (focus)="foc=2;" (focusout)="foc=0;" (keydown)="clrNotif(); cargaEmpresaxRNC($event);" />
                                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='comp.Rnc'">
                                    <label>{{notif.Msj}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" [ngClass]="{'inpFocus':foc==3}">
                    <table cellspacing="0" cellpadding="0" class="tInput">
                        <tr>
                            <td><span *ngIf="comp.TipoComp.length>0"><label>Tipo Comprobante</label> </span>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Tipo Comprobante" [(ngModel)]="comp.TipoComp" class="inpFrm" (focus)="foc=3;" (focusout)="foc=0;" (keydown)="clrNotif()" />
                                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='comp.TipoComp'">
                                    <label>{{notif.Msj}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="col-lg-6" [ngClass]="{'inpFocus':foc==2}">
                    <table cellspacing="0" cellpadding="0" class="tInput">
                        <tr>
                            <td><span *ngIf="comp.EstatDesde.length>0"><label>Parte Fija Desde</label> </span>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Parte Fija Desde" [(ngModel)]="comp.EstatDesde" class="inpFrm" (focus)="foc=2;" (focusout)="foc=0;" (keydown)="clrNotif(); cargaEmpresaxRNC($event);" />
                                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='comp.EstatDesde'">
                                    <label>{{notif.Msj}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" [ngClass]="{'inpFocus':foc==3}">
                    <table cellspacing="0" cellpadding="0" class="tInput">
                        <tr>
                            <td><span *ngIf="comp.NumDesde.length>0"><label>Parte Variable Desde</label> </span>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Parte Variable Desde" [(ngModel)]="comp.NumDesde" class="inpFrm" (focus)="foc=3;" (focusout)="foc=0;" (keydown)="clrNotif()" />
                                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='comp.NumDesde'">
                                    <label>{{notif.Msj}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" [ngClass]="{'inpFocus':foc==3}">
                    <table cellspacing="0" cellpadding="0" class="tInput">
                        <tr>
                            <td><span *ngIf="comp.EstatHasta.length>0"><label>Parte Fija Hasta</label> </span>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Parte Fija Hasta" [(ngModel)]="comp.EstatHasta" class="inpFrm" (focus)="foc=3;" (focusout)="foc=0;" (keydown)="clrNotif()" />
                                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='comp.EstatHasta'">
                                    <label>{{notif.Msj}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" [ngClass]="{'inpFocus':foc==3}">
                    <table cellspacing="0" cellpadding="0" class="tInput">
                        <tr>
                            <td><span *ngIf="comp.NumHasta.length>0"><label>Parte Variable Hasta</label> </span>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Parte Variable Hasta" [(ngModel)]="comp.NumHasta" class="inpFrm" (focus)="foc=3;" (focusout)="foc=0;" (keydown)="clrNotif()" />
                                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='comp.NumHasta'">
                                    <label>{{notif.Msj}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6" [ngClass]="{'inpFocus':foc==3}">
                    <table cellspacing="0" cellpadding="0" class="tInput">
                        <tr>
                            <td><span *ngIf="comp.Venc.length>0"><label>Vencimiento de Secuencia</label> </span>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="Vencimiento de Secuencia" [(ngModel)]="comp.Venc" class="inpFrm" (focus)="foc=3;" (focusout)="foc=0;" (keydown)="clrNotif()" />
                                <div class="notif" *ngIf="notif.Msj.length>0 && notif.Src=='comp.NumHasta'">
                                    <label>{{notif.Msj}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let c of comps" class="col-lg-3 cardDomex">

                    <table align="center">
                        <tr>
                            <td>Empresa</td>
                            <td>{{c.Empresa}}</td>
                        </tr>
                        <tr>
                            <td>RNC</td>
                            <td>{{c.Rnc}}</td>
                        </tr>
                        <tr>
                            <td>Tipo</td>
                            <td>{{c.TipoComp}}</td>
                        </tr>
                        <tr>
                            <td>Desde</td>
                            <td>{{c.NumDesde}}</td>
                        </tr>
                        <tr>
                            <td>Hasta</td>
                            <td>{{c.NumHasta}}</td>
                        </tr>
                        <tr>
                            <td>Vencimiento</td>
                            <td>{{c.Venc.split('T')[0]}}</td>
                        </tr>

                    </table>
                    <div class="tIcons">
                        <label class="imgActn">
                            <img src="/img/pencil.png" width="24"  />
                        </label><label class="imgActn">
                            <img src="/img/trash.png" width="24" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
